@import '../../index.scss';


h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 300;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.main {
    display: flex;
    justify-content: center;
    border-radius: 0.4rem;
    margin: 0rem 0;
    padding: 5rem 0;


    h2{
        text-transform: uppercase;
        color: $darkBlue;
    } 
}

.container{
    padding: 1rem;
    max-width: 900px;
    background-color: $primaryGrey;
}



