@import '../../index.scss';

  .entrance {
    min-height: calc(100vh - 60px);    
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primaryWhite;
  }
  .logoHome {
    height: 70px;
    width: 70px;
}

  .banner {
    text-align: center;
    background: $primaryBlueOpaque;
    display: inline-block;
    padding: 3rem;
    padding-bottom: 1rem;
    overflow: hidden;    

    h1 {
      font-size: 2.4rem;
      text-transform: capitalize;
      letter-spacing: normal;
      margin-bottom: 2rem;
    }
    h2 {
      font-size: 1.6rem;
      text-transform: none;
      letter-spacing: normal;
      margin-bottom: 1rem; 
    }
    h3 {
      font-size: 1.2rem;
      letter-spacing: normal;
      margin-bottom: 3rem;
    }
  }

  // logo
@media screen and (max-width: 538px){
  .logoHome{
  height: 50px;
  width: 50px;
  }
}

@media screen and (max-width: 538px){
  .banner{
    padding: 1rem;
    padding-bottom: 0rem;

    h1{
      font-size: 1.8rem;
    } 
    h2{
      font-size: 1.4rem;
    }
    h3{
      font-size: 1rem;
    }
  }
}