* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primaryBlack: #222;
$primaryBlue: hsla(213, 74%, 64%, 0.521);
$primaryWhite: #fff;
$primaryGrey: #ececec;
$darkBlue: rgb(9, 75, 96);

body {
    background: $primaryWhite;
    color: $primaryBlack;
    font-family: 'Roboto', sans-serif;
}
